@charset "UTF-8";

body {
    background-image: linear-gradient(to right, rgb(5, 175, 5), rgb(182, 3, 182));
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}
.button {
    width:200px;
    height: 90px;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow:3px 5px 7px rgba(0, 0, 0, 0.467);
    background-image: linear-gradient(to left, rgb(87, 86, 86), white);
}